html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

/* START HERE
---------------------------------------- */

html {
	width: 100%;
	overflow: auto;
}

body {
	width: auto;
	margin: 0 auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 7px;
	overflow-y: scroll;
	overflow-x: hidden;
	background-color: #FFF;
	font-size: 16px;
	font-family: "Helvetica Neue", "Helvetica", sans-serif;
	line-height: 22px;
}

#outer {
	width: 960px;
	height: 100%;
	margin: 0 auto;
}

h1 {
	font-size: 26px;
}

h2 {
	font-size: 22px;
}

h3 {
	font-size: 18px;
}

#team-area {
	float: right;
	margin: 0;
	opacity: 0;
	color: #444;
	font-size: 11px;
	
		> a {
			color: #333;
			text-decoration: none;
				&:hover { text-decoration: underline; }
		}
}

#logo {
	width: 480px;
	height: 215px;
	margin: 0px auto 80px auto;
	padding: 10px 0 0 0;
	background: url("images/logo.png") no-repeat bottom;
	opacity: 0;
}

#team {
	width: 50%;
	float: left;
	opacity: 0;
		
		> h2 {
			margin: 0 0 15px 0;
			font-family: "fertigo-pro-1","fertigo-pro-2",sans-serif;
		}
		
		> ul {
				> li {
					width: 400px;
					margin: 20px 0;
					clear: left;
					
						> img {
							width: 45px;
							height: 45px;
							float: left;
							margin: 0 10px 0 0;
							padding: 2px;
							background: #fff;
							border: 1px solid #666;
						}
						
						> span.twitter {
							display: block;
							font-size: 12px;
							
								> a {
									color: #333;
									text-decoration: none;
										&:hover { text-decoration: underline; }
								}
						}
				}		
		}
}

#about {
	width: 50%;
	float: right;
	opacity: 0;
	
	> ul {
	
			> li {
				margin: 20px 0;
				&:first-child { margin: 0 0 20px 0; }
				&:last-child { margin: 20px 0 0 0; }
				
					> h3  {
						margin: 0 0 10px 0;
						font-family: "fertigo-pro-1","fertigo-pro-2",sans-serif;
					}
					
					> p {
						color: #333;
					}
					
					a {
						color: #333;
						text-decoration: none;
							&:hover { text-decoration: underline; }
					}
			}
	}
}

#downloads {
  width: 95%;
  margin: 0 auto;
  opacity: 0;
  
  table {
    width: 600px;
    margin: 40px auto;
    border: 1px solid #444;
    margin-collapse: collapse;
    table-layout: fixed;
    font-size: 14px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(#000, 0.2);
    -moz-box-shadow: 0px 0px 15px 0px rgba(#000, 0.2);
    box-shadow: 0px 0px 15px 0px rgba(#000, 0.2);
    
    > tbody > tr {
      > th {
        font-weight: bold;
        border: 1px solid #ccc;
      }
      > td {
        padding: 10px;
        border: 1px solid #ccc;
        text-align: center;
      }
      &:nth-child(odd) {
        background: #f5f5f5;
      }
    }
  }
  
  p {
    width: 600px;
    margin: 15px auto;
    font-style: italic;
    font-weight: 300;
    text-align: justify;
    line-height: 23px;
    word-break: auto;
    color: #333;
    
    > strong {
      font-weight: 600;
    }
    
    &:first-of-type::first-letter {
      font: bold italic 100px/35px Georgia, serif;
      vertical-align: top;
      display: block;
      float: left;
      background: transparent;
      padding: 0 10px 20px 0;
    }
  }
  
  hr {
    width: 450px;
    margin: 40px auto;
    background: none;
    border: none;
    border-bottom: 1px solid #999;
  }
  
  a, a:visited {
    color: #000;
  }
  a:hover {
    color: #444;
    text-decoration: none;
  }
}

/* LOADED
---------------------------------------- */

.loaded {
	#team-area { -webkit-animation: fade 1.5s linear; opacity: 1; }
	#logo { -webkit-animation: pop 0.4s linear; opacity: 1; }
	#team { -webkit-animation: fade 1.5s linear; opacity: 1; }
	#about, #downloads { -webkit-animation: fade 1.5s linear; opacity: 1; }
}


/* MEDIA QUERY
---------------------------------------- */

@media only screen and (max-device-width: 480px) {

	h1 {
		font-size: 40px;
	}

	h2 {
		font-size: 36px;
	}

	h3 {
		font-size: 30px;
	}

	body {
		width: 100%;
		min-width: auto;
		position: static;
		overflow-y: show;
		overflow-x: show;
		font-size: 26px;
	}
	
	#team {
		width: 100%;
		float: none;
		margin: 20px 0 0 0;
		
			> ul > li {
				width: 100%;
			}
	}
	
	#about {
		width: 100%;
		float: none;
	}
}


/* WEBKIT ANIMATION
---------------------------------------- */


@-webkit-keyframes pop {
	0% {
		-webkit-transform: scale(.1);
		opacity: 0;
	}
	85% {
		-webkit-transform: scale(1.05) rotate(7deg);
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(1);
	}
}

@-webkit-keyframes fade {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    display: block;
    height: 10px;
}

::-webkit-scrollbar-button:vertical:increment {
    background-color: #fff;
}

::-webkit-scrollbar-track-piece {
    background-color: #eee;
    -webkit-border-radius: 3px;
}

::-webkit-scrollbar-thumb:vertical {
    height: 50px;
    background-color: #ccc;
    -webkit-border-radius: 3px;
}

::-webkit-scrollbar-thumb:horizontal {
    width: 50px;
    background-color: #ccc;
    -webkit-border-radius: 3px;
}